body {
  background: #4c4c4c;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80vh;
}
.counter {
  text-align: center;
}
.counter__title {
  color: #ffa500;
  font-weight: 700;
  margin-bottom: 3rem;
  font-size: 2rem;
}
.card {
  background: rgba(0, 0, 0, 0.3);
  padding: 20px 300px;
  border-radius: 10px;
  margin: 0 50px;
}
.card__title {
  color: #c39a4d;
  margin: 0;
  margin-bottom: 20px;
}
.card__btn {
  color: #c39a4d;
  margin: 0;
  margin-bottom: 20px;
}
.btn {
  padding: 5px 13px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
  font-weight: 700;
  margin: 10px;
}
.btn:disabled {
  background: red;
}
.btn:hover {
  background: #ffa500;
  color: #fff;
}
